docs/_build/
docs/_build/html
docs/content/future
docs/content/notebooks/POSEIDON_output
docs/content/notebooks/data
tests/POSEIDON_output
__pycache__
.DS_Store
*~
*.so
build/
dist/
POSEIDON.egg-info/
inputs/
run/
.vscode
testing_new_functions/
docs/